---
layout: default
---

<section class="mt-15">
    {% set atclist = collections.atcs %}

    {% for atc in atclist | reverse %}
        <article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ atc.url | url }}">
                    {% if atc.data.title %}
                        {{ atc.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ post.date | readableDate }}
                    in
                    <a>{{ atc.data.medium }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ atc.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ atc.url | url }}" class="text-indigo-500 font-bold text-lg">
                    Read more →
                </a>
            </p>

        </article>
    {% endfor %}
</section>