---
layout: default
---

<section class="mt-15">
    
    {% set thingslist = collections.things %}
    
    {% for thing in thingslist %}
        <article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                    {{ thing.data.title }}
                </a>
            </h2>

        </article>
    {% endfor %}
</section>